.background-img {
    background: linear-gradient(rgba(21, 2, 2, 0.5), rgba(82, 82, 209, 0.4)), url(../../image/banner.png);
    background-size: cover;
    height: 80vh;
    background-position: center;
}